

#parent {
    background-color: white;
    position: relative;
    display: block;
    text-align: center;
    width: 300px;
    height: 600px;
    
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -o-perspective: 600px;
    perspective: 600px;

}

img {
    height: 100%;
    -webkit-transform: scale3d(1.2,1.2,1.2) rotateX( 45deg );
    -moz-transform: scale3d(1.2,1.2,1.2) rotateX( 45deg );
    -o-transform: scale3d(1.2,1.2,1.2) rotateX( 45deg );
    transform: scale3d(1.2,1.2,1.2) rotateX( 45deg );
}